.card-style{
    margin-right: 40%;
    background-color: #EF8354;
    color: white;
  }
  
  .don-list{
    max-height: 20em;
    overflow-y: scroll;
    color: black;
  }
  
  .list-body{
    max-height: 30em;
    text-align: left;
  }